<%= erb :include %>
<style>
    td {
        font-size: .75em;
    }
    td:hover {
        background-color: #FFFF99;
    }
    .cellClick {
        background: rgb(100,200,255);
    }
    .cellClick:hover {
        background:  rgb(100,200,255);
    }
    .timeClick {
        background: rgb(255,100,255);
    }
    .timeClick:hover {
        background:  rgb(255,100,255);
    }
    .roomClick{
        background: rgb(100,100,255);
    }
    .roomClick:hover {
        background:  rgb(100,100,255);
    }
    .conflict {
        background: rgb(255,50,50);
    }
    #conflicts {
        text-decoration: bold;
    }
    .conflict1 {
        background: yellow;
    }
    .conflict2 {
        background: orange;
    }
    .conflict3 {
        background: salmon;
    }
    .conflict4 {
        background: red;
    }
    .tblCell {
        max-height: 200px;
        min-height: 100px;
        max-width: 100px;
    }

    
</style>

<%= erb :nav %>

<div class="container">
    <div class="row">
        <h1><%= @buildingName %> Scheduler</h1>
        <p>Click on the room number and the time you want to move the class.  Then click on the class.
        </p>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">

                    <div id="conflicts">
                    </div>
                 </div>
            </div>
            <div id="theTable">
            </div>
            <div id="theOtherTable">
            </div>
        </div>
    </div>
</div>

<script>
var rooms = <%= @rooms %>;
var sections = <%= @sections %>;
var mwfsections = <%= @mwfsections %>;
var trsections = <%= @trsections %>;
var mwfteachers = <%= @teachersMWF %>;
var trteachers = <%= @teachersTR %>;
var mwfcourses = <%= @mwfcourses %>;
var trcourses = <%= @trcourses %>;
//rooms.sort(function (a,b) {return a.roomnumber.localeCompare(b.roomnumber)});
var roomLength = rooms.length;
var rows = 10; //here's your number of rows and columns
var cols = roomLength + 1;
var table = $('<table id = "table" class="table table-bordered">');
var head = $('<thead>');
var tr1 = $('<tr>');
for (var col = 0; col < cols; col++)
{
    if(col == 0)
    {
        $('<td><div class="tblCell"><div style="text-align: right">Room</div><div style="text-align: left; margin-top:50px">Time</div></div></td>').appendTo(tr1);
        continue;
    }
    else
    {
        $('<td class="building"><div class="tblCell">'+rooms[col-1].roomnumber+'</div></td>').appendTo(tr1);
    }
}
tr1.appendTo(head);
head.appendTo(table);
var body = $('<tbody>');
for(var r = 0; r < rows; r++)
{
    var tr = $('<tr>');
    for (var c = 0; c < cols; c++)
    {
        var beginTime = (8+r)+"00";
        if(c===0)
        {
            $('<td class="time"><div class="tblCell">'+(8+r)+":00-"+(8+r)+":50"+'</div></td>').appendTo(tr);
        }
        else
        {
            var section = null;
            var teacher = null;
            if(mwfsections[c-1].length > 0 )//&& mwfsections[c-1][0].beginTime===beginTime)
            {
                for(var k = 0; k < mwfsections[c-1].length; k++)
                {
                    if(mwfsections[c-1][k].beginTime===beginTime)
                    {
                        section = mwfsections[c-1][k];
                        course = mwfcourses[c-1][k];
                        teacher = mwfteachers[c-1][k];
                    }
                }
            }
            if(section)
            {
                 $('<td><div class="tblCell">'+course.name+'<br><div class="crn">CRN:'+section.crn+'</div><br>Teacher:'+teacher.firstName+' '+teacher.lastName+'</div></td>').appendTo(tr);
            }
            else
            {
                $('<td><div class="tblCell"></div></td>').appendTo(tr); //fill in your cells with something meaningful here
            }
        }
        
    }
    tr.appendTo(body);
}
body.appendTo(table)
table.appendTo('#theTable');
var old;
var text = null;
var timeText = null;
var roomText = null;
var timeOld;
var roomOld;
var exists = false;
var timeExists = false;
var roomExists = false;
$( function() {
  $('td').click( function() {
        if($(this).hasClass("building"))
        {
            if (!roomExists)
            {
                roomExists = true;
            }
            else
            {
                roomOld.removeClass("roomClick");
            }
            $(this).toggleClass("roomClick");
            roomOld = $(this);
            roomText = $(this).text();
        }
        else if($(this).hasClass("time"))
        {
            if (!timeExists)
            {
                timeExists = true;
            }
            else
            {
                timeOld.removeClass("timeClick");
            }
            $(this).toggleClass("timeClick");
            timeOld = $(this);
            timeText = $(this).text();
        }
        else if(timeText && roomText)
        {
            if($(this).text().length > 0)
            {
                if (!exists)
                {
                    exists = true;
                }
                else
                {
                    old.removeClass("cellClick");
                }
                $(this).toggleClass("cellClick");
                old = $(this);
                text = old.text();
                $.post("/classmover",
                {
                  text: $(this).find(".crn").text().substring(4),
                  time: timeText.split("-")[0],
                  room: roomText,
                  building: "<%= @buildingName %>"
                },
                function(data,status){
                  var dats = JSON.parse(data);
                  if(dats['canMove'])
                  {
                    var table = document.getElementById('table');
                    var found = false;
                    var rowLength = table.rows.length;
                    var roomIndex = 0;
                    var timeIndex = 0;
                    var conflicts = dats['conflicts'];
                    $('#conflicts').empty();
                    for(var i = 0; i < conflicts.length; i++)
                    {
                        var contest = "<a href='/student/"+conflicts[i].banner+ "''>"+conflicts[i].banner+"</a> " + conflicts[i].firstName + " " + conflicts[i].lastName + " ";
                        if (conflicts[i].classification === "4")
                        {
                            contest += "Senior";
                        }
                        else if (conflicts[i].classification === "3")
                        {
                            contest += "Junior";
                        }
                        else if (conflicts[i].classification === "2")
                        {
                            contest += "Sophomore";
                        }
                        else if (conflicts[i].classification === "1")
                        {
                            contest += "Freshman";
                        }
                        else
                        {
                            contest += "Other";
                        }
                        $('#conflicts').append('<p class="conflict'+conflicts[i].classification+'">'+contest+'</p>');
                    }
                    $('#conflicts').text(function(){
                            if(conflicts.length === 0)
                            {
                                return "There are no conflicts";
                            }
                        });

                    /*for(var i=0; i<rowLength; i+=1){
                      var row = table.rows[i];

                      //your code goes here, looping over every row.
                      //cells are accessed as easy

                      var cellLength = row.cells.length;
                      for(var y=0; y<cellLength; y+=1){
                        var cell = row.cells[y];
                        var cellText = $(cell).text();
                        if(cellText === roomText)
                        {
                            roomIndex = y;
                        }
                        else if(cellText === timeText)
                        {
                            timeIndex = i;
                        }

                        //do something with every cell here
                      }
                      if (roomIndex != 0 && timeIndex != 0)
                      {
                        var newThing = table.rows[timeIndex].cells[roomIndex];
                        var changedText = $(newThing).text();
                        $(newThing).text(function()
                        {
                            return text;
                        })
                        $(newThing).toggleClass("cellClick");
                        $(old).removeClass("cellClick");
                        $(old).text(function(){
                            return changedText;
                        })
                        $('#conflicts').text(function(){
                            return text;
                        })
                        break;
                      }
                    }*/
                  }
                  else
                  {
                    alert("Error, cannot move class");
                  }
                });
            }
        }
  } );
} );
</script>